/* Estilos básicos para la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .hidden {
    display: none;
  }
  
  #confirmationMessage h2 {
    color: #4CAF50;
  }
  
  #confirmationMessage p {
    color: #555;
  }
  /* Estilos para la página de agradecimiento */
.mensaje-gracias {
  text-align: center;
  margin-top: 50px;
}

.mensaje-gracias h1 {
  color: #4CAF50; /* Cambia el color del título */
}

.mensaje-gracias p {
  font-size: 18px;
  color: #333;
}
